/* global style*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.5s ease-in-out;
	--mainFont: 'Yanone Kaffeesatz', sans-serif;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	height: 100vh;
	width: 100%;
	display: table;
	font-family: var(--mainFont);
	background: url('./../../images/back.jpg') center/cover no-repeat scroll;
	font-size: 1.2rem;
}

header {
	display: table-row;
	width: 100%;
}

main {
	display: table-row;
	width: 100%;
	height: 100%;
}

footer {
	display: table-row;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
	transition: var(--mainTransition);
}

/* header */
header {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	transform: translateX(-50%);
	height: 70px;
	background-color: var(--secondColor);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

ul {
	width: 60%;
	height: 100%;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li a {
	font-size: 2rem;
	color: var(--thirdColor);
	font-weight: bold;
	transition: var(--mainTransition);
}

li {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	transition: var(--mainTransition);
}

li:hover {
	background-color: var(--fifthColor);
}

li a:hover {
	color: var(--forthColor);
}

/* end of header */

/* main style */
/* Pokemon Name in the Top */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

/* Big Container */
.bigContainer {
	width: 80%;
	height: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.18);
	border-radius: 2rem;
}

/* Left Container */

.lContainer {
	flex: 0 0 calc(35% - 2rem);
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--secondColor);
}

.imgBox {
	width: 80%;
	height: 80%;
}

.imgBox img {
	width: 100%;
	height: 100%;
}

.hpContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hpText {
	font-size: 24px;
	margin-right: 10px;
	border: 1px black solid;
	background: var(--thirdColor);
	color: var(--secondColor);
	border-radius: 50%;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	height: 41px;
}

.fullHp {
	background-color: var(--forthColor);
	width: 260px;
	height: 40px;
	border-radius: 10%;
}

.currentHp {
	background-color: var(--thirdColor);
	border: 30px;
	height: 40px;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.numHp {
	color: var(--forthColor);
	font-size: 26px;
	font-weight: bold;
	margin-left: 5px;
	color: var(--secondColor);
}

/* Right Container */

.rContainer {
	flex: 0 0 calc(70% - 2rem);
	height: 90%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: var(--thirdColor);
}

.name {
	background-color: var(--mainColor);
	color: var(--forthColor);
	width: 30%;
	padding: 0.5rem 0;
	text-align: center;
	border-radius: 0.5rem;
}

.description {
	width: 90%;
	text-align: center;
	margin: 1rem 0 0.5rem;
	color: var(--darkColor);
	font-size: 1.4rem;
}

.firstRow {
	width: 85%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.firstRow div img {
	width: 35px;
	height: 35px;
}

.ability {
	width: 25%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
	color: var(--darkColor);
	font-weight: bold;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
}

.ability span {
	margin-left: 1rem;
}

.Defence {
	margin-right: 3px;
}

.words {
	margin-left: 3rem;
	color: var(--forthColor);
}

/* end of main */

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 200%;
	color: var(--forthColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 110%;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: var(--forthColor);
}

/* end of footer */

/*main mohammed*/
.return {
	position: absolute;
	top: 0;
	left: 1%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 12%;
	cursor: pointer;
}

.returnLink {
	color: var(--forthColor);
	font-size: 1.2rem;
	transition: var(--mainTransition);
}

.returnLink:hover {
	color: var(--mainColor);
}
