/* global style*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--mainFont: 'DotGothic16', sans-serif;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: table;
	font-family: var(--mainFont);
	background-color: rgba(58, 86, 156, 0.144);
}

header {
	display: table-row;
	width: 100%;
}

main {
	display: table-row;
	width: 100%;
}

footer {
	display: table-row;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
	transition: var(--mainTransition);
}

/* header style */

.menu {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	position: fixed;
	margin: auto;
	bottom: 80%;
	right: 0;
	top: 0;
	left: 90%;
	z-index: 3;
	cursor: pointer;
}

.menuItems {
	height: 80px;
	width: 80px;
	position: fixed;
	margin: auto;
	bottom: 78%;
	right: 0;
	top: 0;
	left: 90%;
	z-index: 2;
}
.menuItems > div {
	background-color: white;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: relative;
	font-size: 40px;
	transition: 0.5s linear;
}
.fas {
	position: relative;
	top: 3px;
}
a {
	color: red;
}
.item2 {
	bottom: 80px;
}
.item3 {
	bottom: 158px;
}
.item4 {
	bottom: 228px;
}

.menuItems > div:hover {
	background-color: red;
}
.menuItems > div:hover a {
	color: white;
}

/* end of header style */

/* main style */
.name {
	text-align: center;
	font-size: 60px;
}
.bigContainer {
	display: flex;
	justify-content: space-evenly;
}
.rContainer {
	margin-left: 10px;
}
.rContainer img {
	width: 400px;
	height: 522px;
	/* width: "hide"; */
}
.hpContainer {
	display: flex;
	margin-top: 10px;
}
.hpText {
	font-size: 24px;
	margin-right: 20px;
	border: 1px black solid;
	background: #adc;
	border-radius: 4px;
	padding-right: 5px;
	padding-left: 5px;
	height: 41px;
}
.fullHp {
	background-color: rgba(58, 86, 156, 0.144);
	width: 260px;
	height: 40px;
	border-radius: 10%;
}
.currentHp {
	background-image: linear-gradient(
		45deg,
		var(--forthColor),
		var(--secondColor),
		var(--thirdColor),
		var(--forthColor),
		var(--darkColor)
	);

	height: 40px;
}
.numHp {
	width: 0px;
	color: blue;
	font-size: 26px;
	font-weight: bold;
	margin-left: 9px;
}

.lContainer {
	display: flex;
	flex-direction: column;
	/* justify-content: space-evenly; */
	/* justify-items: center; */
	font-size: large;
	margin-top: 30px;
	font-size: 30px;
	width: 825px;
}
.lContainer > * {
	margin-bottom: 20px;
}
.lContainer li:first-child {
	font-weight: bold;
	border: 1px solid green;
	background-color: rgb(231 260 179);
}

.description {
	background-color: var(--fifthColor);
}
.abilities {
	background-color: var(--thirdColor);
}
.att_def_waek {
	display: flex;
	background-color: var(--forthColor);
	justify-content: space-between;
}

/* end of main style */

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
	margin-top: 10rem;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 200%;
	color: var(--forthColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 110%;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: var(--forthColor);
}

/* end of footer */
