
* {
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

body {
    background-image: url('./../../images/back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-size: 100%;
	margin: 60px  10px;
	color: var(--forthColor);
	
}
.front{
	position: absolute;
    bottom: -8%;
	z-index: 3;
	
	
}

.top{
	position: absolute;
    top: 1%;
	width: 230px;
	height: 100px;
	z-index: 3;


}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button:hover{
	color: seashell;
	/* background-color: blue; */
}

button {
	border-radius: 20px;
	border: solid 2px  #0e0d0d;
	cursor: pointer;
	background-color: #9c9292;
	font-size: 12px;
	font-weight:700 ;

	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: #9c9292;
	border: solid 2px  #0e0d0d;
	cursor: pointer;
}

form {
	background: linear-gradient(90deg, rgba(54,22,22,0.5830707282913166) 0%, rgba(244,13,13,1) 17%, rgba(238,238,18,1) 84%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	position: relative;
	overflow: hidden;
	object-position: center;
	width: 650px;
	max-width: 100%;
	height: 415px;
	margin: auto;
	/* opacity: .9; */
	border: solid 4px gray;
	border-radius: 20px 5px;
	box-shadow: 0px 0px 5px 5px  rgb(20, 20, 20);
	z-index: 0;
	
	

}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: linear-gradient(95deg, rgba(247,30,30,1) 0%, rgba(8,7,7,1) 35%, rgba(244,13,13,1) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

/* footer */

footer {
	display: table-row;
	width: 100%;
}
footer {
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
	margin-top: 10rem;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 200%;
	color: var(--forthColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 110%;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: var(--forthColor);
}

/* end of footer */
