/* global style*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.5s ease-in-out;
	--mainFont: 'Yanone Kaffeesatz', sans-serif;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: table;
	font-family: var(--mainFont);
	background: url('./../../images/back.jpg') center/cover no-repeat scroll;
	font-size: 1.2rem;
}

header {
	display: table-row;
	width: 100%;
}

main {
	display: table-row;
	width: 100%;
}

footer {
	display: table-row;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
}

/* header style */

.menu {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	position: fixed;
	margin: auto;
	bottom: 80%;
	right: 0;
	top: 0;
	left: 90%;
	z-index: 2;
	cursor: pointer;
}

.menuItems {
	height: 80px;
	width: 80px;
	position: fixed;
	margin: auto;
	bottom: 78%;
	right: 0;
	top: 0;
	left: 90%;
}
.menuItems > div {
	background-color: var(--secondColor);
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: relative;
	font-size: 40px;
	transition: 0.5s linear;
}

a {
	color:var(--thirdColor);
}

.item1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item2 {
	bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item3 {
	bottom: 158px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item4 {
	bottom: 232px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuItems > div:hover {
	background-color: red;
}
.menuItems > div:hover a {
	color: white;
}

/* end of header style */

/* main style */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

/* Title style */

.hello {
	position: absolute;
	top: 9%;
	left: 34%;
	margin: 0 0 2rem;
	letter-spacing: 0.2rem;
	font-size: 200%;
	background-color: var(--mainColor);
	color: var(--forthColor);
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;

}
/* end of Title style */

/* cards */

.cards {
	flex: 0 0 70%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	transition: var(--mainTransition);
	margin-top: 10rem;
	width: 70rem;
	border: 3px solid transparent;
	padding: 25px;
}

.card {
	flex: 0 0 calc(27% - 5rem);
	width: 60%;
	height: 60%;
	border-radius: 1rem;
	transition: var(--mainTransition);
	margin: 0.5rem;
	padding: -0.5rem;
	box-shadow: 0 0 5px 5px;
	margin-top: 2rem;
}
.card:hover {
	transition: transform 0.5s;
	transform: scale(1.25);
	box-shadow: 0 0 5px 5px rgb(255, 255, 125);
}

.card a img {
	width: 100%;
	height: 80%;
	border-radius: 1rem;
}

/* end of cards */

/* end of main style */

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
	margin-top: 10rem;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 200%;
	color: var(--forthColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 110%;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: var(--forthColor);
}

/* end of footer */
