/* global style*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--mainFont: 'DotGothic16', sans-serif;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: table;
	font-family: var(--mainFont);
	background-color: rgba(58, 86, 156, 0.144);
}

header {
	display: table-row;
	width: 100%;
}

main {
	display: table-row;
	width: 100%;
}

footer {
	display: table-row;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
	transition: var(--mainTransition);
}

/* header style */
header {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
		url('./../../images/banner.jpg') center/cover no-repeat fixed;
	position: relative;
}

.nav {
	position: fixed;
	top: 40%;
	left: 110%;
	background-color: var(--forthColor);
	transform: translate(-50%, -50%);
	width: 90%;
	height: 80%;
	padding-left: 10rem;
	border-radius: 50%;
	z-index: 2;
	transition: var(--mainTransition);
}

.nav ul {
	width: 100%;
	height: 100%;
	padding: 10rem;
}

.nav ul li {
	font-size: 200%;
	margin-bottom: 2rem;
}

.nav ul li a {
	color: var(--mainColor);
	text-decoration: none;
	letter-spacing: 0.2rem;
	transition: var(--mainTransition);
}

.nav ul li a:hover {
	color: var(--fifthColor);
}

.pokemon {
	position: absolute;
	top: 50%;
	left: 25%;
	width: 40%;
	height: 30%;
	transform: translate(-50%, -50%);
}

.pokemon img,
.navBarsClose img,
.navBarsOpen img,
.card img {
	width: 100%;
	height: 100%;
	transition: var(--mainTransition);
}

.navBarsClose,
.navBarsOpen {
	position: fixed;
	top: 10%;
	left: 95%;
	width: 4%;
	height: 8%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 3;
	transition: var(--mainTransition);
}

/* end of header style */

/* main style */
.info-container {
	width: 100%;
	height: 20rem;
	background-color: rgba(149, 0, 0, 0.87);
	color: var(--forthColor);
	font-size: 200%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1rem;
}

.info {
	width: 80%;
	height: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cards {
	width: 100%;
	height: 60rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
		url('./../../images/gallary.jpg') center/cover no-repeat scroll;
	overflow: hidden;
	transition: var(--mainTransition);
}

.slider {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	transition: var(--mainTransition);
}

.cards-title {
	position: absolute;
	top: 16.6%;
	left: 10%;
	transform: translateY(-50%);
	background-color: var(--secondColor);
	color: var(--thirdColor);
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	letter-spacing: 0.15rem;
	padding: 1rem 2rem;
	z-index: 5;
}

.card {
	flex: 0 0 20%;
	width: 10%;
	height: 60%;
	border-radius: 1rem;
	overflow: hidden;
}

.active {
	transform: scale(1.1);
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 27rem;
	height: 40rem;
}

.hold {
	background-color: black;
	opacity: 0.5;
}

.left {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	background-color: var(--mainColor);
	color: var(--forthColor);
	font-size: 300%;
	padding: 2rem 1rem;
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	transition: var(--mainTransition);
	z-index: 5;
}

.right {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(-100%, -50%);
	background-color: var(--mainColor);
	color: var(--forthColor);
	font-size: 300%;
	padding: 2rem 1rem;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	transition: var(--mainTransition);
}

.left:hover,
.right:hover {
	background-color: var(--fifthColor);
	color: var(--forthColor);
	cursor: pointer;
}

.competition {
	width: 100%;
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.start {
	display: inline-block;
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondColor);
	color: var(--thirdColor);
	font-size: 200%;
	letter-spacing: 0.3rem;
	border-radius: 2rem;
	transition: var(--mainTransition);
}

.start:hover {
	background-color: var(--mainColor);
	color: var(--forthColor);
}

/* end of main style */

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
	margin-top: 10rem;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 200%;
	color: var(--forthColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 110%;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: var(--forthColor);
}

/* end of footer */
