/* global style*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.5s ease-in-out;
	--mainFont: 'Yanone Kaffeesatz', sans-serif;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: table;
	font-family: var(--mainFont);
	background-color: rgba(58, 86, 156, 0.144);
}

header {
	display: table-row;
	width: 100%;
}

main {
	display: table-row;
	width: 100%;
}

footer {
	display: table-row;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
	transition: var(--mainTransition);
}

/* header style */
header {
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
		url('./../../images/banner.jpg') center/cover no-repeat scroll;
	position: relative;
}

.pokemon {
	position: absolute;
	top: 30%;
	left: 25%;
	width: 40%;
	height: 30%;
	transform: translate(-50%, -50%);
}

.hi {
	position: absolute;
	top: 35%;
	left: 70%;
	width: 15rem;
	height: 12rem;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.hello {
	position: absolute;
	top: 37%;
	left: 70%;
	transform: translate(-50%, -50%);
	z-index: 2;
	font-size: 150%;
	text-align: center;
	opacity: 0;
	color: var(--mainColor);
}

.pokemon img,
.card img,
.hi img {
	width: 100%;
	height: 100%;
	transition: var(--mainTransition);
}

.menu {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	position: fixed;
	margin: auto;
	bottom: 80%;
	right: 0;
	top: 0;
	left: 90%;
	z-index: 2;
	cursor: pointer;
}

.menuItems {
	height: 80px;
	width: 80px;
	position: fixed;
	margin: auto;
	bottom: 78%;
	right: 0;
	top: 0;
	left: 90%;
}
.menuItems > div {
	background-color: white;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: relative;
	font-size: 40px;
	transition: 0.5s linear;
}

a {
	color: red;
}

.item1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item2 {
	bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item3 {
	bottom: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item4 {
	bottom: 235px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuItems > div:hover {
	background-color: red;
}
.menuItems > div:hover a {
	color: white;
}

.competition {
	position: absolute;
	top: 60%;
	left: 5%;
	width: 40%;
	height: 20%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: lighting 3s infinite;
}

.start {
	display: inline-block;
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondColor);
	color: var(--thirdColor);
	font-size: 200%;
	letter-spacing: 0.3rem;
	border-radius: 2rem;
	transition: var(--mainTransition);
}

.start:hover {
	background-color: var(--mainColor);
	color: var(--forthColor);
}

@keyframes lighting {
	0% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}
/* end of header style */

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
	margin-top: 10rem;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 200%;
	color: var(--forthColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 110%;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: var(--forthColor);
}

/* end of footer */
