/* global style*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.5s ease-in-out;
	--mainFont: 'Yanone Kaffeesatz', sans-serif;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: table;
	font-family: var(--mainFont);
	background: url('./../../images/background.jpg') center/cover no-repeat scroll;
	font-size: 1.2rem;
}

header {
	display: table-row;
	width: 100%;
}

main {
	display: table-row;
	height: 100%;
	width: 100%;
}

footer {
	display: table-row;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* header style */

.menu {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	position: fixed;
	margin: auto;
	bottom: 80%;
	right: 0;
	top: 0;
	left: 90%;
	z-index: 2;
	cursor: pointer;
}

.menuItems {
	height: 80px;
	width: 80px;
	position: fixed;
	margin: auto;
	bottom: 78%;
	right: 0;
	top: 0;
	left: 90%;
}
.menuItems > div {
	background-color: white;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: relative;
	font-size: 40px;
	transition: 0.5s linear;
}

a {
	color: red;
}

.item1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item2 {
	bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item3 {
	bottom: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item4 {
	bottom: 235px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuItems > div:hover {
	background-color: red;
}
.menuItems > div:hover a {
	color: white;
}

/* end of header style */

/* main style */
main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.main {
	flex: 0 0 calc(60% - 5rem);
	width: 30rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background: url('./../../images/ring3.jpg') center/cover no-repeat scroll;
	border-radius: 3rem;
	box-shadow: 1px 3px 75px 9px rgba(176, 170, 170, 0.75);
}

.user {
	flex: 0 0 calc(25% - 2rem);
	width: 80%;
	height: 25%;
	margin: 0 auto;
}

.computer {
	flex: 0 0 calc(25% - 2rem);
	width: 80%;
	height: 25%;
	margin: 0 auto;
}

.ring {
	flex: 0 0 50%;
	min-width: 100%;
	height: 50%;
}

.points {
	flex: 0 0 calc(18% - 2rem);
	max-width: 20rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	margin-left: 2rem;
}

.points2 {
	flex: 0 0 calc(18% - 2rem);
	max-width: 20rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
	margin-right: 2rem;
}

.user1 {
	flex: 0 0 calc(18% - 2rem);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
	background-color: var(--mainColor);
	border-radius: 1rem;
	border: 2px solid var(--thirdColor);
}

.user2 {
	flex: 0 0 calc(18% - 2rem);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
	background-color: var(--mainColor);
	border-radius: 1rem;
	border: 2px solid var(--thirdColor);
}

.userName {
	width: 100%;
	text-align: center;
	letter-spacing: 0.15rem;
	margin: 1rem 0;
	background-color: var(--mainColor);
	color: var(--forthColor);
	padding: 0.5rem 0;
}

.computerPoints {
	width: 70%;
	text-align: center;
	letter-spacing: 0.15rem;
	background-color: var(--secondColor);
	color: var(--thirdColor);
	padding: 0.5rem 0;
	border-radius: 1rem;
}

.userPoints {
	width: 70%;
	text-align: center;
	letter-spacing: 0.15rem;
	background-color: var(--secondColor);
	color: var(--thirdColor);
	padding: 0.5rem 0;
	border-radius: 1rem;
}

.cards,
.computerCards {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.card,
.computerCard {
	flex: 0 0 calc(17% - 2rem);
	height: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: var(--mainTransition);
	margin: 0 1rem;
	cursor: pointer;
}

.card {
	cursor: pointer;
}

.card img,
.computerCard img {
	width: 100%;
	height: 85%;
	flex: 0 0 calc(85% - 1rem);
}

.computerCard img {
	transform: rotate(180deg);
}

.hover {
	width: 100%;
	height: 50%;
}

.imgHover {
	width: 100%;
	height: 100%;
}

.card p,
.computerCard p {
	flex: 0 0 calc(10% - 1rem);
	text-align: center;
	width: 50%;
	background-color: var(--secondColor);
	color: var(--thirdColor);
	border-radius: 0.5rem;
	font-size: 0.9rem;
}

.userFight {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-62%, -50%);
	width: 12%;
	height: 20%;
}

.computerFight {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-62%, -50%);
	width: 12%;
	height: 20%;
}

.hide {
	display: none;
	transition: var(--mainTransition);
}
/* end of main style */
