/* global style*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--mainFont: 'DotGothic16', sans-serif;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: table;
	font-family: var(--mainFont);
	background-color: rgba(58, 86, 156, 0.144);
}

header {
	display: table-row;
	width: 100%;
}

main {
	display: table-row;
	height: 100%;
	width: 100%;
}

footer {
	display: table-row;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
	transition: var(--mainTransition);
}

/* header style */

.menu {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	position: fixed;
	margin: auto;
	bottom: 80%;
	right: 0;
	top: 0;
	left: 90%;
	z-index: 2;
	cursor: pointer;
}

.menuItems {
	height: 80px;
	width: 80px;
	position: fixed;
	margin: auto;
	bottom: 78%;
	right: 0;
	top: 0;
	left: 90%;
}
.menuItems > div {
	background-color: white;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: relative;
	font-size: 40px;
	transition: 0.5s linear;
}
.fas {
	position: relative;
	top: 3px;
}
a {
	color: red;
}
.item2 {
	bottom: 80px;
}
.item3 {
	bottom: 160px;
}
.item4 {
	bottom: 230px;
}

.menuItems > div:hover {
	background-color: red;
}
.menuItems > div:hover a {
	color: white;
}

/* end of header style */

/* main style */
main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.main {
	flex: 0 0 calc(50% - 2rem);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.user {
	flex: 0 0 calc(25% - 2rem);
	width: 100%;
	height: 25%;
}

.computer {
	flex: 0 0 calc(25% - 2rem);
	width: 100%;
	height: 25%;
}

.ring {
	flex: 0 0 50%;
	width: 100%;
	height: 50%;
	border: 1px solid green;
	background: url('./../../images/ring.jpg') center/cover no-repeat scroll;
}

.user1 {
	flex: 0 0 calc(25% - 2rem);
	height: 100%;
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.user2 {
	flex: 0 0 calc(25% - 2rem);
	height: 100%;
	border: 1px solid blue;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.img-container1 {
	width: 10rem;
	height: 15rem;
	overflow: hidden;
	margin-top: 3rem;
	cursor: pointer;
}

.img-container2 {
	width: 10rem;
	height: 15rem;
	overflow: hidden;
	margin-bottom: 3rem;
	cursor: pointer;
	z-index: 5;
}

.img-container1 img,
.img-container2 img {
	width: 100%;
	height: 100%;
}

.cards {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.card {
	flex: 0 0 calc(20% - 2rem);
	height: 90%;
}

.card img {
	width: 100%;
	height: 90%;
}

.card p {
	text-align: center;
	width: 50%;
	height: 10%;
	background-color: var(--secondColor);
	color: var(--thirdColor);
	margin: 0 auto;
	border-radius: 0.5rem;
}

/* end of main style */
