@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* global style*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--mainFont: 'Yanone Kaffeesatz', sans-serif;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: table;
	font-family: var(--mainFont);
	background: url('./../../images/back.jpg') center/cover no-repeat scroll;
}

header {
	display: table-row;
	width: 100%;
}

main {
	display: table-row;
	height: 100%;
}

footer {
	display: table-row;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
	transition: var(--mainTransition);
}

/* header style */
header {
	height: 0;
}

.menu {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	position: fixed;
	margin: auto;
	bottom: 80%;
	right: 0;
	top: 0;
	left: 90%;
	z-index: 2;
	cursor: pointer;
	z-index: 3;
}

.menuItems {
	height: 80px;
	width: 80px;
	position: fixed;
	margin: auto;
	bottom: 78%;
	right: 0;
	top: 0;
	left: 90%;
	z-index: 2;
}
.menuItems > div {
	background-color: var(--secondColor);
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: relative;
	font-size: 40px;
	transition: 0.5s linear;
}

a {
	color: var(--thirdColor);
}

.item1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item2 {
	bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item3 {
	bottom: 158px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item4 {
	bottom: 232px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuItems > div:hover {
	background-color: red;
}
.menuItems > div:hover a {
	color: white;
}

/* end of header style */

/* main style */
main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.container {
	width: 90%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80%;
}

.section-title {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
}

.title {
	width: 35%;
	background-color: var(--mainColor);
	color: var(--forthColor);
	padding: 0.5rem 0;
	border-radius: 1rem;
	text-align: center;
	font-size: 2.2rem;
}

.desc {
	width: 100%;
	color: var(--forthColor);
	text-align: center;
	font-size: 1.5rem;
	letter-spacing: 0.15rem;
}

.members {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.member-container {
	flex: 0 0 calc(25% - 1rem);
	width: 25%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: var(--darkColor);
	border: 1px solid var(--secondColor);
	border-radius: 1rem;
	position: relative;
}

.member {
	width: 100%;
	height: 100%;
}

.member:hover {
	opacity: 0.3;
	cursor: pointer;
}

.mohammed {
	background: url('./../../images/sandwich.jpg') center/cover no-repeat scroll;
}

.malek {
	background: url('./../../images/malek.jpg') center/cover no-repeat scroll;
}

.aya {
	background: url('./../../images/aya.png') center/cover no-repeat scroll;
}

.lina {
	background: url('./../../images/lina.png') center/cover no-repeat scroll;
}

.info {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;
}

.name {
	color: var(--forthColor);
	letter-spacing: 0.15rem;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.job {
	color: var(--forthColor);
	letter-spacing: 0.15rem;
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.icons {
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
}

.icon a {
	color: var(--secondColor);
}

/* end of main style */

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 200%;
	color: var(--forthColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 110%;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: var(--forthColor);
}

/* end of footer */
