<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokémon</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://www.pngkey.com/png/detail/317-3178288_pokemon-go-icon-png.png"
            type="image/x-icon">

        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous" />

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

        <!-- style -->
        <link rel="stylesheet" href="/css/aboutUsFirst/aboutUsFirst.css">

    </head>

    <body>
        <header>
            <ul class="links">
                <li class="links-items"><a href="/">Home</a></li>
                <li class="links-items"><a href="/aboutUs">About Us</a></li>
            </ul>
        </header>
        <main>
            <div class="container">
                <div class="section-title">
                    <h1 class="title">Our Team</h1><br><br>
                    <p class="desc">The real Pokémon's trainers behined this marviolus Website</p>
                </div>
                <div class="members">
                    <div class="member-container aya1">
                        <div class="member aya">
                        </div>
                        <div class="info">
                            <h3 class="name">Aya Bejawe</h3>
                            <h5 class="job">Software Developer</h5>

                            <ul class="icons">
                                <li class="icon"><a href="https://www.facebook.com/aya.o.b.1"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li class="icon"><a href="https://github.com/AyaaBe95" target="_blank"><i
                                            class="fab fa-github-square"></i></a></li>
                                <li class="icon"><a href="https://www.linkedin.com/in/aya-barjawi/" target="_blank"><i
                                            class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="member-container lina1">
                        <div class="member lina">

                        </div>
                        <div class="info">
                            <h3 class="name">Lina Al-Mashaikh</h3>
                            <h5 class="job">Software Developer</h5>

                            <ul class="icons">
                                <li class="icon"><a href="https://www.facebook.com/lnoosh.yousef"><i
                                            class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="icon"><a href="https://github.com/Lina-yousef" target="_blank"><i
                                            class="fab fa-github-square"></i></a>
                                </li>
                                <li class="icon"><a href="https://www.linkedin.com/in/lina-al-mashaikh/"
                                        target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="member-container malek1">
                        <div class="member malek">
                        </div>
                        <div class="info">
                            <h3 class="name">Malek Esmail</h3>
                            <h5 class="job">Software Developer</h5>

                            <ul class="icons">
                                <li class="icon"><a href="https://web.facebook.com/abu.hudhayfah.1291"><i
                                            class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="icon"><a href="https://github.com/malik9931" target="_blank"><i
                                            class="fab fa-github-square"></i></a>
                                </li>
                                <li class="icon"><a href="https://www.linkedin.com/in/malek-al-rshaidat/"
                                        target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="member-container mohammed1">
                        <div class="member mohammed">
                        </div>
                        <div class="info">
                            <h3 class="name">Mohammed Khamees</h3>
                            <h5 class="job">Software Developer</h5>
                            <ul class="icons">
                                <li class="icon"><a href="https://www.facebook.com/profile.php?id=100003528130246"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li class="icon"><a href="https://github.com/mohammed-khamees" target="_blank"><i
                                            class="fab fa-github-square"></i></a></li>
                                <li class="icon"><a href="https://www.linkedin.com/in/mohammed-khamees-011b78202/"
                                        target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include('./../layout/footer') %>

            <!-- jQuery -->
            <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

            <!-- js -->
            <script src="/js/aboutUsFirst.js"></script>

    </body>

</html>
