<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokémon</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://www.pngkey.com/png/detail/317-3178288_pokemon-go-icon-png.png"
            type="image/x-icon">

        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous" />

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

        <!-- style -->
        <link rel="stylesheet" href="/css/aboutUs/aboutUs.css">

    </head>

    <body>
        <header>
            <div>
                <img class="menu navBarsClose" onclick="pop()" src="/images/closeBall.png" alt="Pokemon Ball">
                <img class="menu navBarsOpen hide" onclick="pop()" src="/images/openBall.png" alt="Pokemon Ball">
                <div class="menuItems">
                    <div class="item1" id="item1">
                        <center>
                            <a href="/home/<%= userId %> " title='home'>
                                <i class="fas fa-home"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item2" id="item2">
                        <center>
                            <a href="/characters/<%= userId %>" title='competition'>
                                <i class="fas fa-gamepad"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item3" id="item3">
                        <center>
                            <a href="/dashboard/<%= userId %>" title='dashboard'>
                                <i class="fas fa-id-card"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item4" id="item4" title='logout'>
                        <center>
                            <a href="/login">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </center>
                    </div>
                </div>
            </div>
        </header>
        <main>

            <section class="team-section">
     <div class="container">
         <div class="row">
             <div class="section-title">
                 <h1 class="title">Our Team</h1><br><br>
                 <p>The real pokemon trainers behine this marviolus Website</p>
             </div>
         </div>
         <div class="row">
             <div class="team-items">
                  <div class="item">
                      <img src="/images/aya.png" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Aya Bejawi</h5>
                               <p>Software Developer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/aya.o.b.1"><span class="fab fa-facebook-f"></span></a>
                                   <a href="https://github.com/AyaaBe95"><span class="fab fa-github-square"></span></a>
                                   <a href="https://www.linkedin.com/in/aya-barjawi/"><span class="fab fa-linkedin"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="/images/lina.png" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Lina Al-Mashaikh</h5>
                               <p>Software Developer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/lnoosh.yousef"><span class="fab fa-facebook-f"></span></a>
                                   <a href="https://github.com/Lina-yousef"><span class="fab fa-github-square"></span></a>
                                   <a href="https://www.linkedin.com/in/lina-al-mashaikh/"><span class="fab fa-linkedin"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="/images/mohammed.png" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Mohammed Khamees</h5>
                               <p>Software Developer</p>
                               <div class="social-links">
                                   <a href="https://www.facebook.com/profile.php?id=100003528130246"><span class="fab fa-facebook-f"></span></a>
                                   <a href="https://github.com/mohammed-khamees"><span class="fab fa-github-square"></span></a>
                                   <a href="https://www.linkedin.com/in/mohammed-khamees-011b78202/"><span class="fab fa-linkedin"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="/images/malek.jpg" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Malek Esmail</h5>
                               <p>Software Developer</p>
                               <div class="social-links">
                                   <a href="https://web.facebook.com/abu.hudhayfah.1291"><span class="fab fa-facebook-f"></span></a>
                                   <a href="https://github.com/malik9931"><span class="fab fa-github-square"></span></a>
                                   <a href="https://www.linkedin.com/in/malek-al-rshaidat/"><span class="fab fa-linkedin"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
             </div>
         </div>
     </div>
  </section>
        </main>

        <%- include('./../layout/footer') %>

            <!-- jQuery -->
            <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

            <!-- js -->
            <script src="/js/aboutUs.js"></script>

    </body>

</html>
