<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokémon</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://www.pngkey.com/png/detail/317-3178288_pokemon-go-icon-png.png"
            type="image/x-icon">

        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous" />

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

        <!-- style -->
        <link rel="stylesheet" href="/css/character/character.css">

    </head>

    <body>

        <header class="banner">
            <div class="navBarsClose ">
                <img src="/images/closeBall.png" alt="Pokemon Ball">
            </div>
            <div class="navBarsOpen hide">
                <img src="/images/openBall.png" alt="Pokemon Ball">
            </div>
            <nav class="nav hide">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/dashboard">DashBoard</a></li>
                    <li><a href="/html/aboutUs.html">About Us</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1>Choose Your Trainer</h1>
            <div class="characters">
                <div class="character">
                    <a href="/rockPaperSissiors"><img src="/images/characters/1.png" alt="Brock"></a>
                    <p>Brock</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors"><img src="/images/characters/2.png" alt="Kanna"></a>
                    <p>Kanna</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors"><img src="/images/characters/3.png" alt="Ash"></a>
                    <p>Ash</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors"><img src="/images/characters/4.png" alt="Silver"></a>
                    <p>Silver</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors"><img src="/images/characters/5.png" alt="Serena"></a>
                    <p>Serena</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors"><img src="/images/characters/6.png" alt="Marlon"></a>
                    <p>Marlon</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors"><img src="/images/characters/7.png" alt="Oak"></a>
                    <p>Oak</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors"><img src="/images/characters/8.png" alt="Ace"></a>
                    <p>Ace</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors"><img src="/images/characters/9.png" alt="Misty"></a>
                    <p>Misty</p>
                </div>
                <div class="character">
                    <a href="/html/rockPaperSissiors.html"><img src="/images/characters/10.png" alt="Ethan"></a>
                    <p>Ethan</p>
                </div>
            </div>
        </main>

        <footer>
            <ul class="footer-links">
                <li class="footer-link"><a href="https://www.facebook.com/" target="_blank"><i
                            class="fab fa-facebook-square"></i></a></li>
                <li class="footer-link"><a href="https://www.instagram.com/" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                <li class="footer-link"><a href="https://www.pokemon.com/us/" target="_blank"><i
                            class="fas fa-mask"></i></a>
                </li>
            </ul>
            <h2>All rights reserved &copy; 2021 Pika-Pika </h2>
        </footer>


        <!-- jQuery -->
        <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

        <!-- js -->
        <script src="js/character.js"></script>
    </body>

</html>
