<footer>
    <ul class="footer-links">
        <li class="footer-link"><a href="https://www.facebook.com/" target="_blank"><i
                    class="fab fa-facebook-square"></i></a></li>
        <li class="footer-link"><a href="https://www.instagram.com/" target="_blank"><i
                    class="fab fa-instagram"></i></a></li>
        <li class="footer-link"><a href="https://www.pokemon.com/us/" target="_blank"><i class="fas fa-mask"></i></a>
        </li>
    </ul>
    <h2>All rights reserved &copy; 2021 Pika-Pika </h2>
</footer>
