/* global style*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.3s ease-in-out;
	--mainFont: 'DotGothic16', sans-serif;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: table;
	font-family: var(--mainFont);
	background-color: rgba(58, 86, 156, 0.144);
}

header {
	display: table-row;
	width: 100%;
}

main {
	display: table-row;
	height: 100%;
}

footer {
	display: table-row;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
	transition: var(--mainTransition);
}

/* header style */
.nav {
	position: fixed;
	top: 40%;
	left: 110%;
	background-color: var(--forthColor);
	transform: translate(-50%, -50%);
	width: 90%;
	height: 80%;
	padding-left: 10rem;
	border-radius: 50%;
	z-index: 2;
	transition: var(--mainTransition);
}

.nav ul {
	width: 100%;
	height: 100%;
	padding: 10rem;
}

.nav ul li {
	font-size: 200%;
	margin-bottom: 2rem;
}

.nav ul li a {
	color: var(--mainColor);
	text-decoration: none;
	letter-spacing: 0.2rem;
	transition: var(--mainTransition);
}

.nav ul li a:hover {
	color: var(--fifthColor);
}

.navBarsClose img,
.navBarsOpen img,
.card img {
	width: 100%;
	height: 100%;
	transition: var(--mainTransition);
}

.navBarsClose,
.navBarsOpen {
	position: fixed;
	top: 10%;
	left: 95%;
	width: 4%;
	height: 8%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 3;
	transition: var(--mainTransition);
}

/* end of header style */

/* main style */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

h1 {
	margin: 2rem 0;
	letter-spacing: 0.3rem;
	font-size: 200%;
	background-color: var(--mainColor);
	color: var(--forthColor);
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
}

.characters {
	width: 70%;
	height: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.character {
	width: 20%;
	height: 25rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: var(--mainTransition);
}

.character img {
	width: 10rem;
	height: 17rem;
}

.character p {
	margin-top: 2rem;
	letter-spacing: 0.1rem;
	font-size: 110%;
	background-color: var(--secondColor);
	color: var(--thirdColor);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.random {
	width: 20%;
	height: 25rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: var(--mainTransition);
}

.random img {
	width: 10rem;
	height: 17rem;
}

/* end of main style */

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
	margin-top: 10rem;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 200%;
	color: var(--forthColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 110%;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: var(--forthColor);
}

/* end of footer */
