/* global style*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--mainTransition: all 0.5s ease-in-out;
	--mainFont: 'Yanone Kaffeesatz', sans-serif;
	--mainColor: rgb(149, 0, 0);
	--secondColor: rgb(0, 72, 141);
	--thirdColor: rgb(240, 207, 0);
	--forthColor: white;
	--fifthColor: rgb(58, 85, 156);
	--darkColor: black;
}

html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	display: table;
	font-family: var(--mainFont);
	background: url('./../../images/back.jpg') center/cover no-repeat scroll;
	font-size: 1.2rem;
}

header {
	display: table-row;
	width: 100%;
}

main {
	display: table-row;
	height: 100%;
}

footer {
	display: table-row;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.hide {
	display: none;
	transition: var(--mainTransition);
}

/* header style */

.menu {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	position: fixed;
	margin: auto;
	bottom: 80%;
	right: 0;
	top: 0;
	left: 90%;
	z-index: 2;
	cursor: pointer;
}

.menuItems {
	height: 80px;
	width: 80px;
	position: fixed;
	margin: auto;
	bottom: 78%;
	right: 0;
	top: 0;
	left: 90%;
}
.menuItems > div {
	background-color: white;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	position: relative;
	font-size: 40px;
	transition: 0.5s linear;
}

a {
	color: red;
}

.item1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item2 {
	bottom: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item3 {
	bottom: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item4 {
	bottom: 235px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuItems > div:hover {
	background-color: red;
}
.menuItems > div:hover a {
	color: white;
}

/* end of header style */

/* main style */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	margin: 2rem 0;
	letter-spacing: 0.3rem;
	font-size: 200%;
	background-color: var(--mainColor);
	color: var(--forthColor);
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
}

.characters {
	width: 70%;
	height: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.character {
	width: 20%;
	height: 25rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: var(--mainTransition);
}

.character img {
	width: 10rem;
	height: 18rem;
}

.character p {
	margin-top: 2rem;
	letter-spacing: 0.1rem;
	font-size: 110%;
	background-color: var(--secondColor);
	color: var(--thirdColor);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.random {
	width: 22%;
	height: 30rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: var(--mainTransition);
}

.random img {
	width: 17rem;
	height: 17rem;
}

.start {
	margin-top: 2rem;
	letter-spacing: 0.1rem;
	font-size: 110%;
	background-color: var(--fifthColor);
	color: var(--forthColor);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	text-align: center;
}

.fight {
	margin-top: 2rem;
	letter-spacing: 0.1rem;
	font-size: 130%;
	background-color: var(--mainColor);
	color: var(--forthColor);
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	transition: var(--mainTransition);
}

.fight:hover {
	background-color: var(--darkColor);
	color: var(--thirdColor);
	transform: scale(1.2);
	cursor: pointer;
}

/* end of main style */

/* footer */
footer {
	height: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondColor);
	overflow: hidden;
	padding: 1.5rem 0;
}

.footer-links {
	list-style: none;
	width: 10%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.footer-links a {
	font-size: 200%;
	color: var(--forthColor);
	transition: var(--mainTransition);
}

.footer-links a:hover {
	color: var(--thirdColor);
}

footer h2 {
	font-size: 110%;
	text-transform: capitalize;
	letter-spacing: 0.2rem;
	color: var(--forthColor);
}

/* end of footer */
